/*公用样式*/
.clear {
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.block {
  display: block;
}
.none {
  display: none;
}
.indent {
  text-indent: 2em;
}
.text-none {
  text-decoration: none;
}
.text-none:hover {
  text-decoration: none;
}
.inner-box {
  width: 1000px;
  margin: 0 auto;
}
