@charset "UTF-8";
/*common style*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none
}

:focus {
    outline: 0
}

a img {
    border: 0
}

a {
    text-decoration: none
}

img {
    vertical-align: middle
}

table {
    empty-cells: show
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

em {
    font-style: normal
}

button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
    border: 0;
    padding: 0
}

body {
    background-color: #fff;
    font-family: Microsoft Yahei, Simsun;
}

body.gray-bg {
    background-color: #f4f4f4;
}

.nav {
    height: 113px;
    position: relative;
    z-index: 2;
}

.logo {
    float: left;
}

.header {
    background-color: #fff;
    border-bottom: 5px solid #28abcc;
}

.nav .logo img {
    margin-top: 13px;
}

.nav > ul {
    float: right;
    margin: 50px -15px 0 0;
}

.nav .bbs {
    position: absolute;
    right: 0;
    top: 10px;
    color: #666;
    border: 1px solid #ff7900;
    display: block;
    height: 16px;
    line-height: 16px;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 12px;
}

.nav > ul > li {
    float: left;
    position: relative;
    height: 40px;
}

.nav > ul > li > a {
    font-size: 16px;
    color: #666;
    display: block;
    padding: 0 20px 5px;
}

.subnav {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
    border: 1px solid #afafaf;
    padding: 10px 0;
}

.subnav em {
    display: block;
    width: 17px;
    height: 8px;
    background: url(../images/arr-top.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -8.5px;
    top: -8px;
    z-index: 2;
}

.subnav li {
    height: 28px;
    line-height: 28px;
}

.subnav li a {
    padding: 0 5px;
    text-align: center;
    color: #666;
}

.subnav li a:hover {
    border-bottom: 2px solid #;
}

.nav > ul > li.active > a,
.subnav li a:hover,
.subnav li.active a,
.nav > ul > li:hover > a /* */  {
    border-bottom: 2px solid #ff9433;
}

.nav > ul > li.hasSubNav:hover > a {
    border: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.focus {
    overflow: hidden;
    height: 357px;
}

.ck-slide ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ck-slide {
    position: relative;
    overflow: hidden;
}

.ck-slide ul.ck-slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ck-slide ul.ck-slide-wrapper li {
    height: 357px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ck-slidebox {
    position: absolute;
    left: 50%;
    bottom: 12px;
    z-index: 30;
}

.ck-slidebox ul {
    height: 20px;
    padding: 0 4px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}

.ck-slidebox ul li {
    float: left;
    height: 12px;
    margin: 4px 4px;
}

.ck-slidebox ul li em {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    text-indent: -9999px;
    cursor: pointer;
}

.ck-slidebox ul li.current em {
    background-color: #fe6500;
}

.ck-slidebox ul li em:hover {
    background-color: #fe6500;
}

.f1 a,
.f3 a {
    display: block;
    width: 144px;
    height: 41px;
    background: url(../images/f1.png);
    position: absolute;
    left: 0;
    top: 257px;
}

.f1 a:hover {
    background-image: url(../images/f1-hover.png);
}

.f3 a {
    width: 142px;
    height: 39px;
    background-image: url(../images/f3.png);
    left: 645px;
}

.f3 a:hover {
    background-image: url(../images/f3-hover.png);
}

.green-bg {
    background-color: #d4e2e0;
}

.green2-bg {
    background-color: #e1ebea;
}

.wider {
    width: 100%;
    text-align: center;
}

.footer {
    background-color: #333;
}

.country {
    height: 210px;
}

.country li {
    float: left;
    cursor: pointer;
}

.banner {
    height: 200px;
    background: url(../images/about-banner.jpg) center top no-repeat;
}

.service-banner {
    background-image: url(../images/service-banner.jpg);
}

.fsq-banner {
    background-image: url(../images/fsq-banner.jpg);
}

.qsf-banner {
    background-image: url(../images/qsf-banner.jpg);
}

.country-container {
    display: none;
}


/*Add at 2015-05-07*/
.wrap-detail {
    padding-top: 15px;
    color: #333;
}
.wrap .article {
    width: 650px;
    float: left;
    line-height: 24px;
    font-size: 14px;
}
/*05投资列表-1*/
div.pos {
    font-size: 14px;
    color: #333;
    height: 50px;
    line-height: 50px;
    background-color: #f4f4f4;
}
.pos a {
    color: #333;
}
.wrapper-white-full {
    width: 100%;
    background-color: #fff;
}
.article-title {
    font-size: 18px;
    font: bold 18px/24px Microsoft Yahei, Simhei, Simsun;
    color: #666;
    float: left;
    margin: 10px 0 20px;
}
.price-info {
    float: right;
    margin: 10px 0 20px;
}
.price-info li {
    display: inline-block;
    color: #666;
    font-size: 16px;
}
.price-info li.red {
    color: #f60;
}
.article-tab {
    border-bottom: 2px solid #33a7d8;
    font-size: 0;
    margin-top: 20px;
}
.article-tab li {
    display: inline-block;
    border: 1px solid #33a7d8;
    border-bottom: 0;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
}
.article-tab li.nob {
    border-left: 0;
    border-right: 0;
}
.article-tab li a {
    display: block;
    padding: 0 33px;
    color: #333;
}
.article-tab li a:before {
    
}
.article-tab li.active a {
    background-color: #33a7d8;
    color: #fff;
}
.content {
    border: 1px solid #ccc;
    border-top: 0;
    padding: 15px 30px;
}

/*04服务优势*/
.service-wrap h1 {
    margin: 50px auto 35px;
    color: #0ebfdd;
    font-size: 30px;
    width: 205px;
    background: url(../images/04_title.png) center bottom no-repeat;
    text-align: center;
    padding-bottom: 10px;
}
.service-img {
    display: block;
    margin: 0 auto 35px;
}
.service-list {
    padding: 35px 0;
    overflow: hidden;
}
.service-list dl {
    width: 430px;
    display: inline-block;
    margin-left: 50px;
    color: #333;
}
.service-list dl dt i,
.service-list dl dt h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}
.service-list dl dt i {
    width: 30px;
    height: 30px;
    border: 1px solid #65bdb8;
    background-color: #fff;
    color: #39c;
    font-style: normal;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
}
.service-list dl dd {
    font-size: 16px;
    line-height: 28px;
}
.service-list .line {
    height: 0;
    border-top: 1px solid #c0c6c6;
    border-bottom: #e0ebeb;
    width: 900px;
    margin: 28px auto;
}
p.ys {
    line-height: 36px;
    font-size: 18px;
    text-indent: 2em;
}
.service-wrap .item {
    margin-top: 35px;
    position: relative;
}
.service-wrap h2 {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    background: url(../images/04_blue_tab.png) no-repeat;
    width: 100%;
    height: 45px;
    position: absolute;
    top: -16px;
    padding-top: 27px;
}
.service-wrap .item div.content {
    margin-left: 20px;
    border: 0;
    font-size: 18px;
    line-height: 2;
    background: #fff url(../images/04_dk.png) 50px 85px no-repeat;
    padding: 85px 50px 30px 240px;
}
.service-wrap .item div.img-at-right {
    background: #fff url(../images/04_dk.png) 785px 85px no-repeat;
    padding: 85px 240px 30px 50px;
}

.service-wrap h2:before {
    display: inline-block;
    content: '';
    width: 31px;
    height: 37px;
    background: url(../images/04_icons.png) 0 0 no-repeat;
    vertical-align: middle;
    margin: 0 12px 0 33px;
}

.service-wrap .yhdk h2 {
    background-image: url(../images/04_green_tab.png);
}
.service-wrap .yhdk h2:before {
    background-position: 0 -55px;
}
.service-wrap .yhdk div.img-at-right {
    background-image: url(../images/04_yhdk.png);
}
.service-wrap .qsf h2 {
    background-image: url(../images/04_green1_tab.png);
}
.service-wrap .qsf h2:before {
    background-position: 0 -101px;
}
.service-wrap .qsf div.content {
    background-image: url(../images/04_qsf.png);
}
.service-wrap .ls h2 {
    background-image: url(../images/04_yellow_tab.png);
}
.service-wrap .ls h2:before {
    background-position: 0 -155px;
}
.service-wrap .ls div.content {
    background-image: url(../images/04_ls.png);
}

.service-wrap .yzs {
    margin-bottom: 100px;
}
.service-wrap .yzs h2 {
    background-image: url(../images/04_org_tab.png);
}
.service-wrap .yzs h2:before {
    background-position: 0 -214px;
}
.service-wrap .yzs div.content {
    background-image: url(../images/04_yzs.png);
}
/*Footer*/
.footer {
    color: #999;
    text-align: center;
    font-size: 14px;
}
.footer a {
    color: #999;
}
.footer li {
    display: inline-block;
    margin: 34px 17px 18px;
}
.footer p {
    padding-bottom: 35px;
}